body{
    margin:0;
    font-family: 'Roboto', sans-serif;
}
.head{
    background-color: white;
    height: 800px;
}
.container{
    max-width: 1200px;
    margin: 0px auto
}
.header_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:55px;
    font-size: 20px;
    border-bottom: #cccccc solid 1px;
}
.link{
    text-decoration: none;
    color:#cccccc;
}
.link:first-child{
    color:black;
}
.header_title{
    font-size: 50px;
    text-transform: uppercase;
    max-width: 170px;
}
.header_info{
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: space-between;
}
.header_subtitle{
    font-size: 20px;
}
.header_subsubtitle{
    font-size: 20px;
    transform: rotate(270deg);
}
.img1{
    display: block;
    width: 1200px;
}
.img2{
    display: none;
    width: 1200px;
}
.main{
    background-color: #f1f1f1;
    text-align: center;
}
.main_content{
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.main_title{
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.main_subtitle{
    margin-bottom: 30px;
    font-size: 18px;
}
.footer_info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}
.footer_columns{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.footer_title{
    font-size: 50px;
    text-align: center;
    margin-top: 40px;
}
.footer_subtitle{
    text-align: center;
    margin-top: 40px; 
}
.footer_img{
    margin:5px auto;
}
.footer_text{
    text-align: center;
    margin-top: 10px;
}
.footer_grade{
    margin-top: 20px;
}
.last_title{
    font-size: 50px;
    text-align: center;
    margin-top:20px
}
.last_subtitle{
    text-align: center;
    margin-top:20px
}
.last_subsubtitle{
    text-align: center;
}
.footer_button{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.button{
    background-color: black;
    padding: 10px 25px;
    border-radius: 25px;
    color:white;
    text-decoration: none;
}
.columns{
    width: 24%;
    display: flex;
    justify-content: center;
}
.flex{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    margin:0px auto;
}
.f_last{
    margin:30px auto;
    height: 100px;
    width: 100%;
    color: gray;
    text-align: center;
    font-size: 18px;
}
@media (max-width:1250px){
    .container{
        max-width: 998px;
    }
    .img1{
        width: 998px;
    }
}
@media (max-width:1050px){
    .container{
        max-width: 750px;
    }
    .img1{
        width: 750px;
    }
    .head{
        height:650px;
    }
}
@media (max-width:800px){
    .container{
        max-width: 650px;
    }
    .img1{
        width: 650px;
    }
    .head{
        height:600px;
    }
}
@media (max-width:700px){
    .container{
        max-width: 500px;
    }
    .img1{
        width: 500px;
    }
    .head{
        height:550px;
    }
    .header_title{
        font-size: 45px;
    }
    .footer_info{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .footer_columns{
        width: 45%;
    }
}
@media (max-width:540px){
    .container{
        max-width: 500px;
    }
    .img1{
        display:none;
    }
    .img2{
        display: block;
        width:350px;
        margin: 10px auto;
    }
    .head{
        height:750px;
    }
    .header_menu{
        display: none;

    }
    .header_info{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin:0px 20px
        
    }
    .header_main{
        margin-top: 10px;
    }
    .header_subsubtitle{
        display: none;
        margin-top: 10px;
    }
}
@media (max-width:430px){
    .footer_info{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .footer_columns{
        width: 75%;
    }
}